.auth-area {
    max-width: 80%;
    margin: 10px auto;
    background-color: #3973ac;
}

.auth-area .col-md-6 {
    padding: 10px;
}

.align-content {
    margin-left: 15%;
    margin-right: 15%;
}

.login {
    margin-top: 80px;
}

.align-content form {
    background-color: white;
    padding: 10px 0;
    position: relative;
}

.form-header h3 {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.form-header {
    padding: 20px;
    background-color: #00264d;
}

.form-con {
    padding: 0 10%;
    margin: 10px auto;
    position: relative;
}

.form-con label {
    position: absolute;
    transition: 0.35s;
    bottom: 10px;
}
.shift-left {
    transform: translateX(-30px);
}
.form-con span {
    color: #cccccc;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 20px;
}

input[type='email'], input[type='password'], input[type='text'] {
    display: block;
    margin: 0 auto auto 10px;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    height: 45px;
    line-height: 45px;
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

input[type='email']:focus, input[type='password']:focus, input[type='text']:focus {
    border: none !important;
}

.submit-div {
    position: relative;
}

.submit-button input[type='submit'] {
    width: 100%;
    padding: 20px;
    background-color: #00264d;
    border: 0;
    color: white;
    font-size: 1.5em;
    position: relative;
    transition: 0.35s;
    opacity: 0.9;
}

.submit-button input[type='submit']:hover {
    opacity: 1;
}

.form-select {
    display: block;
    margin: 0 auto auto 10px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #3973ac;
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

.form-select option {
    background-color: #5bc0de;
    font-size: 1.2em;
}

@media screen and (min-width: 992px) {
    .submit-button input[type='submit'] {
        transform: scaleX(1.1);
    }

    .auth-area .row .col-lg-6:nth-child(1) {
        border-right: 2px solid white;
    }

    .login .submit-button:before {
        content: "";
        position: absolute;
        font-size: 18px;
        line-height: 0;
        width: 0;
        left: -18px;
        bottom: 35px;
        border-right: 1em solid #122b40;
        border-bottom: 10px solid #2e6da4;
    }

    .register .submit-button:before {
        content: "";
        font-size: 18px;
        position: absolute;
        line-height: 0;
        width: 0;
        left: -18px;
        bottom: 0;
        border-right: 1em solid #122b40;
        border-bottom: 10px solid #2e6da4;
    }

    .submit-button:after {
        content: "";
        position: absolute;
        font-size: 18px;
        line-height: 0;
        width: 0;
        right: -18px;
        border-left: 1em solid #122b40;
        border-bottom: 10px solid #2e6da4;
    }
}
