.heading, section {
    margin: 20px auto;
    padding: 10px;
}

section {
    background-color: white;
    border-radius: 10px;
}

section h2 {
    text-align: center;
    color: #5bc0de;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #cccccc, 2px 2px 2px #cccccc, 3px 3px 3px #cccccc;
}

.content {
    margin: 0 auto;
}

.content .info {
    margin: 10px 10px;
    background-color: #5bc0de;
    border-radius: 20px;
    min-height: 300px;
    width: 30%;
}