body {
    background-color: #3973ac !important;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 16px !important;
}
.footer-content {
    color: white;
    margin: 0 auto;
    padding: 20px;
}
.notification-box {
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    max-width: 25%;
    border-radius: 20px;
    left: 45%;
    transform: translateY(-100px);
    transition: 0.35s;
    z-index: 1000;
    color: white;
}
.show-notification {
    transform: translateY(0) !important;
}
.show-failure {
    background-color: #c9302c;
}
.show-success {
    background-color: #3c763d;
}