<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}"/>
</head>
<body>
{% if request.session and user_data %}
    <header class="heading container" style="background-color: white">
        <a class="pull-left" href="/logout/">Sign Out</a>
        <p class="pull-right">{{ user_data.first_name }} {{ user_data.last_name }}</p>
    </header>
    <section class="container">
        <h2 class="text-center">{{ user_data.university }}, {{ user_data.university.univ_city }}</h2>
        <div class="content row">
            <div class="info col-lg-4 col-md-4">

            </div>
            <div class="info col-lg-4 col-md-4">

            </div>
            <div class="info col-lg-4 col-md-4">
            </div>
        </div>
    </section>
{% else %}
    <section class="container">
        <h2 class="text-center">404 ERROR</h2>
        <h2 class="text-center">THE PAGE DOES NOT EXIST</h2>
    </section>
{% endif %}
{% include "footer_d.html" %}
</body>
</html>