<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Authentication Portal</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}"/>
</head>
<body>
<div class="notification-box" id="notif-box">
    No Content Added
</div>
<div class="auth-area">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="align-content register">
                <div class="form-header">
                    <h3>SIGNUP</h3>
                </div>
                <form action="javascript:void(0)" method="post" onsubmit="return register_user();">
                    {% csrf_token %}
                    <div class="form-con">
                        <input type="text" placeholder="First Name" name="fname" required>
                    </div>
                    <div class="form-con">
                        <input type="text" placeholder="Last Name" name="lname" required>
                    </div>
                    <div class="form-con">
                        <input type="email" placeholder="Email Address" name="mail" required>
                    </div>
                    <div class="form-con">
                        <input type="password" placeholder="Password" name="pass" required>
                    </div>
                    <br>
                    <div class="form-con">
                        <select class="form-select university" title="University Names">
                            <option disabled selected>Select a University</option>
                            {% if University_Name %}
                                {% for univ in University_Name %}
                                    <option value="{{ univ }}">
                                        {{ univ }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <br>
                    <div class="submit-button">
                        <input type="submit" id="register" value="REGISTER">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="align-content login">
                <div class="form-header">
                    <h3>LOGIN</h3>
                </div>
                <form action="javascript:void(0)" method="post" onsubmit="return login_user();">
                    {% csrf_token %}
                    <div class="form-con">
                        <label><span class="fa fa-user"></span></label>
                        <input type="email" placeholder="&#x09;&#x09;Email Address" name="user-mail" required>
                    </div>
                    <div class="form-con">
                        <label><span class="fa fa-lock"></span></label>
                        <input type="password" placeholder="&#x09;&#x09;Password" name="user-pass" required>
                    </div>
                    <br><br>
                    <div class="submit-button">
                        <input type="submit" id="login" value="LOGIN">
                    </div>

                    <h5 class="text-center">
                        <small>Forgot Password? <a href="#">Click Here</a></small>
                    </h5>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "footer_d.html" %}
</body>
</html>